<footer class="text-center mt-5 py-5">
  <% for (var name in config.social) { %>
      <a href="<%= config.social[name] %>" target="_blank">
          <i class="fa fa-<%= name %> mr-4"></i>
        </a>
  <% }%>
</footer>
<script src="<%= theme.scripts.jquery %>"></script>
<script src="<%= theme.scripts.tether %>"></script>
<script src="<%= theme.scripts.bootstrap %>"></script>
<script src="<%= theme.scripts.moment %>"></script>
<%- partial('baidu-tongji') %>