<div class="row archive-item mx-1">
  <div class="col-12 col-lg-8 offset-lg-2 post-item pb-4">
    <a class="post-go" href="<%- config.root %><%- item.path %>">
      <h4 class="title">
        <%- item.title || theme.default_post_title || "Untitled" %>
      </h4>
      <div class="excerpt">
        <%- item.excerpt %>
      </div>
      <div class="date">
        <%- moment(item.date || '').format('YYYY-MM-DD')%>
      </div>
    </a>
  </div>
</div>