<div class="col-lg-3 col-md-6 col-12 mb-5">
  <div class="hovereffect">
    <a class="post-image" href="<%- config.root %><%- item.path %>">
      <img class="img-fluid portfolio-img" src="<%- item.cover || theme.default_cover %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
      <div class="overlay">
          <div class="overlay-text">
            <h4 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h4>
            <div class="excerpt"><%- item.excerpt %></div>
            <div class="date"><%- moment(item.date || '').format('YYYY-MM-DD')%></div>
          </div>  
          
      </div>
    </a>
  </div>
</div>